<!doctype html>
<html>
<head>
    <style>

/* Modal begin */
.transcribe_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.transcribe_modal_content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close_transcribe_modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_transcribe_modal:hover,
.close_transcribe_modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal end */



#class_editor {
    display:none;
}

#class_selector {
    /*width: 600px;*/
   width:100%; /* or whatever width you want. */
   height:30px; /* or whatever width you want. */
   max-width:100%; /* or whatever width you want. */
   display: inline-block;
   float: top;
}
#active {
   width:15%; /* or whatever width you want. */
   height:80%; /* or whatever width you want. */
   max-width:15%; /* or whatever width you want. */
   display: inline-block;
   float: left;
   position:absolute;
   left:80%;
   top:20%;
   width:20%;

}
#navigation{
    left:0px;
    top:0px;
    width:100%;
    height: 10%;
    overflow: scroll;
    position:absolute;
}
#class_selector{
    left:0px;
    top:10%;
    width:100%;
    height: 5%;
    overflow: hide;
    position:absolute;
}

#command_buttons{
    left:0px;
    top:15%;
    width:100%;
    height: 5%;
    overflow: hide;
    position:absolute;
}

#canvaces{
    left:0px;
    top:20%;
    width:80%;
    height: 80%;
    overflow: scroll;
    position:absolute;
}

       </style>
<meta charset="UTF-8" />
<title>Canvas Layers Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/frat_gui.js"></script>
    <script>
        var class_label_values = [{name:"No Class", color:"#000000"},
                                  {name:"Textura", color:"#2f4f4f"},
                                  {name:"Rotunda", color:"#008000"},
                                  {name:"Gotico-Antiqua", color:"#00FF00"},
                                  {name:"Schwabacher", color:"#00008b"},
                                  {name:"Fraktur", color:"#b03060"},
                                  {name:"Bastarda", color:"#ff0000"},
                                  {name:"Antiqua", color:"#ffff00"},
                                  {name:"Italic", color:"#00ff00"},
                                  {name:"Hebrew", color:"#00ffff"},
                                  {name:"Greek", color:"#ff00ff"},
                                  {name:"Manuscript", color:"#a0522d"},
                                  {name:"Ignore", color:"#808080"}];
        var boxes = [{ltrb:[100, 50, 400, 100], transcription:"a text block", class_id:0},
                  {ltrb:[100, 50, 400, 100], transcription:"a text block", class_id:1},
                  {ltrb:[100, 150, 450, 200], transcription:"another text block", class_id:2},
                  {ltrb:[200, 250, 450, 300], transcription:"another text block", class_id:3},
                  {ltrb:[200, 350, 450, 400], transcription:"another text block", class_id:4},
                  {ltrb:[200, 450, 450, 500], transcription:"another text block", class_id:5},
                  {ltrb:[200, 550, 450, 600], transcription:"another text block", class_id:6},
                  {ltrb:[200, 650, 450, 700], transcription:"another text block", class_id:7},
                  {ltrb:[200, 750, 450, 800], transcription:"another text block", class_id:8},
                  {ltrb:[200, 850, 450, 900], transcription:"another text block", class_id:9},
                  {ltrb:[200, 950, 450, 1000], transcription:"another text block", class_id:10},
                  {ltrb:[200, 1050, 450, 1100], transcription:"another text block", class_id:11},
                  {ltrb:[200, 1150, 450, 1200], transcription:"another text block", class_id:12},
                  ];
        var boxes_and_labels={rects:boxes, classes:class_label_values};
        var config={caption_font:"18pt Calibri",
                    shortcut_code_next: "tab",
                    shortcut_code_previous: "shift+tab",
                    shortcut_code_delete: "delete"
        };
        var classesUI = null;

        var http_config={};
        var request = new XMLHttpRequest();
        request.open('GET', '/frat_config.json', false);  // `false` makes the request synchronous
        request.send(null);
        http_config = JSON.parse(request.responseText);


        function page_load(){
            classesUI = new ClassIdEditor(http_config["class_colors"], "class_editor", "class_selector");
            classesUI.write_gui(http_config["class_colors"]);
            //classesUI.write_gui(class_label_values);
            //canvaces = new Canvaces(classesUI,"canvaces","command_buttons", "active","{{id}}.png",JSON.stringify(boxes),JSON.stringify(class_label_values),config);
            canvaces = new Canvaces("{{id}}",classesUI,"transcribe_modal","config_editor","navigation","canvaces","command_buttons", "active","{{id}}.png",JSON.stringify(boxes_and_labels),http_config);
        }
    </script>

</head>
<body onload="page_load()">

    <div id="class_editor">
    Class Editor
    </div>
    <div id="config_editor">
    </div>

    <div id="navigation">
    </div>


<div id="class_selector">
    Class selector
</div>
<div>
    <table><tr>
        <td>
            <div id="canvaces" >

                Canvaces
            </div>
        </td>
        <td>
            <div id="active">
                Selected Object
            </div>
        </td>
    </tr></table>
</div>
<div id="command_buttons">
    commands
</div>
<div id="transcribe_modal" class="modal">
    <div class="transcribe_modal_content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>

</body>
</html>